*{
    margin:0px;
    padding: 0px;
}
html,body{
    height: 100%;
}
body{
    font-family: Arial;
    margin:0px;
    padding: 0px;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
input{
    width:100px;
}


/*HEADER*/
.header{
    width: 100%;
}
.navbar{
    float: left;
    width: 68%;
    align-items: center;
    padding:1%;
}
.header li,.footer li{
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    list-style: none;
    border: 1px solid darkgreen;
    transition: border-bottom 0.5s;
    padding: 5px;
}

.header li a,.footer li a, .sidebar li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s;
}

.header li:hover,.footer li:hover,.sidebar li:hover{
    border-bottom: 1px solid darkgreen;
    background-color: rgba(255, 255, 255, 0.1);
}

.header li a:hover,.footer li a:hover,.sidebar li a:hover{
    color: darkgreen;
}

.header .active,.footer .active,.sidebar .active{
    border-bottom: 1px solid darkgreen ;
    color:darkgreen !important;
}

.header .active a,.footer .active a,.sidebar .active a{
    color:darkgreen !important;
}
.infobox{
    float: left;
    display: block;
    align-items: center;
    padding: 1%;
    width: 28%;
}

.brand{
    color: darkgreen;
    font-weight: bold;
    text-align: right;
    padding: 1px 5px;
}

.status{
    color: blue;
    font-size: small;
    text-align: right;
    padding: 1px 5px;
    margin: 5px;
}


/*MAIN*/
.main{
    width: 100%;
    margin-bottom: 20px;
    height: 100%;
    overflow: auto;
}
.mainpic{
    width: 100%;
}
.mainbox{
    border: 1px solid darkgreen;
    padding: 5px;
}
.maingrid{
    display: grid;
    grid-template-columns: fit-content(150px) 20px auto;
    width: 100%;
    height: 100%;
}

/* sidebar*/
.sidebar{
    background-color: rgba(255, 255, 255, 0.001);
    color: white;
    width: 0px;
    display: flex;
    transition: width 1.5s ease-out;
}

.sidebar ul{
    padding-top: 0px;
    display: block;
    overflow:hidden;
}
.sidebar ul header{
    width: 100%;
    padding: 10px;
    background-color: darkgreen;
    color: white;
    box-sizing: border-box;
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}
.sidebar ul li{
   list-style: none;
}
.sidebar ul li a{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}
.activesb{
    margin-left: 0;
    width: 105px;
    transition: width 1.5s ease-out;
}
.activesb ul{
    display: block;
    width: 105px;
}

.sidebarbutton{
    height: 100%;
    width: 20px;
    writing-mode: sideways-rl;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
}
.activesb .sidebarbutton{
    background-color: darkgreen;
}

.content{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 100%;
}

/*FOOTER*/
.footer{
    font-size: small;
    height: 20px;
    margin-top: -20px;
    padding: 3%;
}
.copyright{
    float: left;
    text-align: left;
    white-space: nowrap;
    margin-right: 5%;
}
.navbarfooter{
    float:left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Explorer*/
.explorer{
    display: grid;
    grid-template-columns: 100px auto;
}
.liste{
    width: 100%;
}
.explorer ul li{
    list-style: none;
    text-decoration: none;
    transition: border-bottom 0.5s;
    padding: 5px;
}
.explorer ul li a{
    color: white;
    font-size:small;
    text-decoration: none;
    transition: colour 0.5s;
}
.explorer ul li:hover{
    border-bottom: 1px solid green;
}
.explorer ul li a:hover{
    color: darkgreen;
}

.objektfenster{
    border: 1px solid midnightblue;
    background-color: darkgreen;
    width: 100%;
    height: fit-content;
    font-size: small;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1px;
    margin: 2px;
}
.lagerplatz{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap:1px;
}
.lagerplatz .datenfeld{
    max-height: 75px;
    overflow:auto;
    font-weight: normal;
    background: rgb(53, 116, 53);
}
.lagerplatz .datenheader{
    font-weight: bold;
}



  

